/* Fichier : static/css/home-style.css */

/* Stylisation pour la page d'accueil */


h1 {
    text-align: center;
    color: #333;
}

p {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}
